parameters:
	ignoreErrors:
		-
			rawMessage: Class SpomkyLabs\PwaBundle\Dto\Favicons has an uninitialized property $default. Give it default value or assign it in the constructor.
			identifier: property.uninitialized
			count: 1
			path: ../src/Dto/Favicons.php

		-
			rawMessage: Class SpomkyLabs\PwaBundle\Dto\FileHandler has an uninitialized property $action. Give it default value or assign it in the constructor.
			identifier: property.uninitialized
			count: 1
			path: ../src/Dto/FileHandler.php

		-
			rawMessage: Class SpomkyLabs\PwaBundle\Dto\Icon has an uninitialized property $src. Give it default value or assign it in the constructor.
			identifier: property.uninitialized
			count: 1
			path: ../src/Dto/Icon.php

		-
			rawMessage: Class SpomkyLabs\PwaBundle\Dto\PageCache extends @final class SpomkyLabs\PwaBundle\Dto\ResourceCache.
			identifier: class.extendsFinalByPhpDoc
			count: 1
			path: ../src/Dto/PageCache.php

		-
			rawMessage: Class SpomkyLabs\PwaBundle\Dto\ProtocolHandler has an uninitialized property $url. Give it default value or assign it in the constructor.
			identifier: property.uninitialized
			count: 1
			path: ../src/Dto/ProtocolHandler.php

		-
			rawMessage: Class SpomkyLabs\PwaBundle\Dto\RelatedApplication has an uninitialized property $url. Give it default value or assign it in the constructor.
			identifier: property.uninitialized
			count: 1
			path: ../src/Dto/RelatedApplication.php

		-
			rawMessage: Class SpomkyLabs\PwaBundle\Dto\Screenshot has an uninitialized property $src. Give it default value or assign it in the constructor.
			identifier: property.uninitialized
			count: 1
			path: ../src/Dto/Screenshot.php

		-
			rawMessage: Class SpomkyLabs\PwaBundle\Dto\ShareTarget has an uninitialized property $action. Give it default value or assign it in the constructor.
			identifier: property.uninitialized
			count: 1
			path: ../src/Dto/ShareTarget.php

		-
			rawMessage: Class SpomkyLabs\PwaBundle\Dto\Shortcut has an uninitialized property $url. Give it default value or assign it in the constructor.
			identifier: property.uninitialized
			count: 1
			path: ../src/Dto/Shortcut.php

		-
			rawMessage: Class SpomkyLabs\PwaBundle\Dto\Theme has an uninitialized property $src. Give it default value or assign it in the constructor.
			identifier: property.uninitialized
			count: 1
			path: ../src/Dto/Theme.php

		-
			rawMessage: Class SpomkyLabs\PwaBundle\Dto\Widget has an uninitialized property $adaptativeCardTemplate. Give it default value or assign it in the constructor.
			identifier: property.uninitialized
			count: 1
			path: ../src/Dto/Widget.php

		-
			rawMessage: Access to constant TAG of internal class SpomkyLabs\PwaBundle\CompilerPass\LoggerCompilerPass from outside its root namespace SpomkyLabs.
			identifier: classConstant.internalClass
			count: 1
			path: ../src/Resources/config/services.php
