parameters:
	ignoreErrors:
		-
			rawMessage: Cannot cast mixed to int.
			identifier: cast.int
			count: 1
			path: ../src/Command/CreateIconsCommand.php

		-
			rawMessage: Cannot cast mixed to string.
			identifier: cast.string
			count: 1
			path: ../src/Command/CreateIconsCommand.php

		-
			rawMessage: Cannot cast mixed to int.
			identifier: cast.int
			count: 3
			path: ../src/Command/CreateScreenshotCommand.php

		-
			rawMessage: Cannot cast mixed to string.
			identifier: cast.string
			count: 1
			path: ../src/Command/CreateScreenshotCommand.php

		-
			rawMessage: Class SpomkyLabs\PwaBundle\Dto\Favicons has an uninitialized property $default. Give it default value or assign it in the constructor.
			identifier: property.uninitialized
			count: 1
			path: ../src/Dto/Favicons.php

		-
			rawMessage: Class SpomkyLabs\PwaBundle\Dto\FileHandler has an uninitialized property $action. Give it default value or assign it in the constructor.
			identifier: property.uninitialized
			count: 1
			path: ../src/Dto/FileHandler.php

		-
			rawMessage: Class SpomkyLabs\PwaBundle\Dto\Icon has an uninitialized property $src. Give it default value or assign it in the constructor.
			identifier: property.uninitialized
			count: 1
			path: ../src/Dto/Icon.php

		-
			rawMessage: Class SpomkyLabs\PwaBundle\Dto\PageCache extends @final class SpomkyLabs\PwaBundle\Dto\ResourceCache.
			identifier: class.extendsFinalByPhpDoc
			count: 1
			path: ../src/Dto/PageCache.php

		-
			rawMessage: Class SpomkyLabs\PwaBundle\Dto\ProtocolHandler has an uninitialized property $url. Give it default value or assign it in the constructor.
			identifier: property.uninitialized
			count: 1
			path: ../src/Dto/ProtocolHandler.php

		-
			rawMessage: Class SpomkyLabs\PwaBundle\Dto\RelatedApplication has an uninitialized property $url. Give it default value or assign it in the constructor.
			identifier: property.uninitialized
			count: 1
			path: ../src/Dto/RelatedApplication.php

		-
			rawMessage: Class SpomkyLabs\PwaBundle\Dto\Screenshot has an uninitialized property $src. Give it default value or assign it in the constructor.
			identifier: property.uninitialized
			count: 1
			path: ../src/Dto/Screenshot.php

		-
			rawMessage: Class SpomkyLabs\PwaBundle\Dto\ServiceWorker has an uninitialized property $workbox. Give it default value or assign it in the constructor.
			identifier: property.uninitialized
			count: 1
			path: ../src/Dto/ServiceWorker.php

		-
			rawMessage: Class SpomkyLabs\PwaBundle\Dto\ShareTarget has an uninitialized property $action. Give it default value or assign it in the constructor.
			identifier: property.uninitialized
			count: 1
			path: ../src/Dto/ShareTarget.php

		-
			rawMessage: Class SpomkyLabs\PwaBundle\Dto\Shortcut has an uninitialized property $url. Give it default value or assign it in the constructor.
			identifier: property.uninitialized
			count: 1
			path: ../src/Dto/Shortcut.php

		-
			rawMessage: Class SpomkyLabs\PwaBundle\Dto\Theme has an uninitialized property $src. Give it default value or assign it in the constructor.
			identifier: property.uninitialized
			count: 1
			path: ../src/Dto/Theme.php

		-
			rawMessage: Class SpomkyLabs\PwaBundle\Dto\Widget has an uninitialized property $adaptativeCardTemplate. Give it default value or assign it in the constructor.
			identifier: property.uninitialized
			count: 1
			path: ../src/Dto/Widget.php

		-
			rawMessage: Class SpomkyLabs\PwaBundle\Dto\Workbox has an uninitialized property $assetCache. Give it default value or assign it in the constructor.
			identifier: property.uninitialized
			count: 1
			path: ../src/Dto/Workbox.php

		-
			rawMessage: Class SpomkyLabs\PwaBundle\Dto\Workbox has an uninitialized property $config. Give it default value or assign it in the constructor.
			identifier: property.uninitialized
			count: 1
			path: ../src/Dto/Workbox.php

		-
			rawMessage: Class SpomkyLabs\PwaBundle\Dto\Workbox has an uninitialized property $fontCache. Give it default value or assign it in the constructor.
			identifier: property.uninitialized
			count: 1
			path: ../src/Dto/Workbox.php

		-
			rawMessage: Class SpomkyLabs\PwaBundle\Dto\Workbox has an uninitialized property $googleFontCache. Give it default value or assign it in the constructor.
			identifier: property.uninitialized
			count: 1
			path: ../src/Dto/Workbox.php

		-
			rawMessage: Class SpomkyLabs\PwaBundle\Dto\Workbox has an uninitialized property $imageCache. Give it default value or assign it in the constructor.
			identifier: property.uninitialized
			count: 1
			path: ../src/Dto/Workbox.php

		-
			rawMessage: Class SpomkyLabs\PwaBundle\Dto\Workbox has an uninitialized property $offlineFallback. Give it default value or assign it in the constructor.
			identifier: property.uninitialized
			count: 1
			path: ../src/Dto/Workbox.php

		-
			rawMessage: '''
				Property $resourceCaches references deprecated class SpomkyLabs\PwaBundle\Dto\PageCache in its type:
				since 1.2.0 and will be removed in 2.0.0. Use ResourceCache instead.
			'''
			identifier: property.deprecatedClass
			count: 1
			path: ../src/Dto/Workbox.php

		-
			rawMessage: 'Call to function assert() with true will always evaluate to true.'
			identifier: function.alreadyNarrowedType
			count: 1
			path: ../src/EventListener/FileCompileEventListener.php

		-
			rawMessage: Instanceof between Symfony\Component\AssetMapper\Event\PreAssetsCompileEvent and Symfony\Component\AssetMapper\Event\PreAssetsCompileEvent will always evaluate to true.
			identifier: instanceof.alwaysTrue
			count: 1
			path: ../src/EventListener/FileCompileEventListener.php

		-
			rawMessage: 'Parameter #1 $icons of function expandIcons expects array<int, array<string, mixed>|string>, mixed given.'
			identifier: argument.type
			count: 1
			path: ../src/Resources/config/definition/manifest.php

		-
			rawMessage: 'Parameter #2 $array of function array_key_exists expects array, mixed given.'
			identifier: argument.type
			count: 1
			path: ../src/Resources/config/definition/manifest.php

		-
			rawMessage: Anonymous function should return array but returns mixed.
			identifier: return.type
			count: 10
			path: ../src/Resources/config/definition/service_worker.php

		-
			rawMessage: Cannot access an offset on mixed.
			identifier: offsetAccess.nonOffsetAccessible
			count: 1
			path: ../src/Resources/config/definition/service_worker.php

		-
			rawMessage: Cannot access offset 'asset_cache' on mixed.
			identifier: offsetAccess.nonOffsetAccessible
			count: 2
			path: ../src/Resources/config/definition/service_worker.php

		-
			rawMessage: Cannot access offset 'asset_cache_name' on mixed.
			identifier: offsetAccess.nonOffsetAccessible
			count: 1
			path: ../src/Resources/config/definition/service_worker.php

		-
			rawMessage: Cannot access offset 'config' on mixed.
			identifier: offsetAccess.nonOffsetAccessible
			count: 2
			path: ../src/Resources/config/definition/service_worker.php

		-
			rawMessage: Cannot access offset 'debug' on mixed.
			identifier: offsetAccess.nonOffsetAccessible
			count: 1
			path: ../src/Resources/config/definition/service_worker.php

		-
			rawMessage: Cannot access offset 'font_cache' on mixed.
			identifier: offsetAccess.nonOffsetAccessible
			count: 2
			path: ../src/Resources/config/definition/service_worker.php

		-
			rawMessage: Cannot access offset 'font_cache_name' on mixed.
			identifier: offsetAccess.nonOffsetAccessible
			count: 1
			path: ../src/Resources/config/definition/service_worker.php

		-
			rawMessage: Cannot access offset 'font_regex' on mixed.
			identifier: offsetAccess.nonOffsetAccessible
			count: 1
			path: ../src/Resources/config/definition/service_worker.php

		-
			rawMessage: Cannot access offset 'image_cache' on mixed.
			identifier: offsetAccess.nonOffsetAccessible
			count: 2
			path: ../src/Resources/config/definition/service_worker.php

		-
			rawMessage: Cannot access offset 'image_cache_name' on mixed.
			identifier: offsetAccess.nonOffsetAccessible
			count: 1
			path: ../src/Resources/config/definition/service_worker.php

		-
			rawMessage: Cannot access offset 'image_regex' on mixed.
			identifier: offsetAccess.nonOffsetAccessible
			count: 1
			path: ../src/Resources/config/definition/service_worker.php

		-
			rawMessage: Cannot access offset 'max_font_age' on mixed.
			identifier: offsetAccess.nonOffsetAccessible
			count: 1
			path: ../src/Resources/config/definition/service_worker.php

		-
			rawMessage: Cannot access offset 'max_font_cache_entries' on mixed.
			identifier: offsetAccess.nonOffsetAccessible
			count: 1
			path: ../src/Resources/config/definition/service_worker.php

		-
			rawMessage: Cannot access offset 'max_image_age' on mixed.
			identifier: offsetAccess.nonOffsetAccessible
			count: 1
			path: ../src/Resources/config/definition/service_worker.php

		-
			rawMessage: Cannot access offset 'max_image_cache_entries' on mixed.
			identifier: offsetAccess.nonOffsetAccessible
			count: 1
			path: ../src/Resources/config/definition/service_worker.php

		-
			rawMessage: Cannot access offset 'network_timeout_seconds' on mixed.
			identifier: offsetAccess.nonOffsetAccessible
			count: 1
			path: ../src/Resources/config/definition/service_worker.php

		-
			rawMessage: Cannot access offset 'page_cache_name' on mixed.
			identifier: offsetAccess.nonOffsetAccessible
			count: 1
			path: ../src/Resources/config/definition/service_worker.php

		-
			rawMessage: Cannot access offset 'resource_caches' on mixed.
			identifier: offsetAccess.nonOffsetAccessible
			count: 2
			path: ../src/Resources/config/definition/service_worker.php

		-
			rawMessage: Cannot access offset 'static_regex' on mixed.
			identifier: offsetAccess.nonOffsetAccessible
			count: 1
			path: ../src/Resources/config/definition/service_worker.php

		-
			rawMessage: Cannot access offset 'use_cdn' on mixed.
			identifier: offsetAccess.nonOffsetAccessible
			count: 1
			path: ../src/Resources/config/definition/service_worker.php

		-
			rawMessage: Cannot access offset 'version' on mixed.
			identifier: offsetAccess.nonOffsetAccessible
			count: 1
			path: ../src/Resources/config/definition/service_worker.php

		-
			rawMessage: Cannot access offset 'warm_cache_urls' on mixed.
			identifier: offsetAccess.nonOffsetAccessible
			count: 1
			path: ../src/Resources/config/definition/service_worker.php

		-
			rawMessage: Cannot access offset 'workbox_public_url' on mixed.
			identifier: offsetAccess.nonOffsetAccessible
			count: 1
			path: ../src/Resources/config/definition/service_worker.php

		-
			rawMessage: 'Strict comparison using !== between mixed and null will always evaluate to true.'
			identifier: notIdentical.alwaysTrue
			count: 3
			path: ../src/Resources/config/definition/service_worker.php

		-
			rawMessage: 'Parameter #1 $icons of function expandIcons expects array<int, array<string, mixed>|string>, mixed given.'
			identifier: argument.type
			count: 1
			path: ../src/Resources/config/definition/utils/shortcuts.php

		-
			rawMessage: 'Parameter #2 $array of function array_key_exists expects array, mixed given.'
			identifier: argument.type
			count: 1
			path: ../src/Resources/config/definition/utils/shortcuts.php

		-
			rawMessage: Access to constant TAG of internal class SpomkyLabs\PwaBundle\CompilerPass\LoggerCompilerPass from outside its root namespace SpomkyLabs.
			identifier: classConstant.internalClass
			count: 1
			path: ../src/Resources/config/services.php

		-
			rawMessage: 'Return type (iterable<SpomkyLabs\PwaBundle\Service\Data>) of method SpomkyLabs\PwaBundle\Service\ApplicationIconCompiler::getFiles() should be covariant with return type (iterable<string, SpomkyLabs\PwaBundle\Service\Data>) of method SpomkyLabs\PwaBundle\Service\FileCompilerInterface::getFiles()'
			identifier: method.childReturnType
			count: 1
			path: ../src/Service/ApplicationIconCompiler.php

		-
			rawMessage: 'Method SpomkyLabs\PwaBundle\Service\Data::getData() should return string but returns Closure|string.'
			identifier: return.type
			count: 1
			path: ../src/Service/Data.php

		-
			rawMessage: 'Property SpomkyLabs\PwaBundle\Service\Data::$data (Closure|string) does not accept mixed.'
			identifier: assign.propertyType
			count: 1
			path: ../src/Service/Data.php

		-
			rawMessage: 'Call to function assert() with true and string will always evaluate to true.'
			identifier: function.alreadyNarrowedType
			count: 1
			path: ../src/Service/FaviconsCompiler.php

		-
			rawMessage: 'Cannot call method process() on SpomkyLabs\PwaBundle\ImageProcessor\ImageProcessorInterface|null.'
			identifier: method.nonObject
			count: 1
			path: ../src/Service/FaviconsCompiler.php

		-
			rawMessage: Instanceof between Symfony\Component\AssetMapper\MappedAsset and Symfony\Component\AssetMapper\MappedAsset will always evaluate to true.
			identifier: instanceof.alwaysTrue
			count: 1
			path: ../src/Service/FaviconsCompiler.php

		-
			rawMessage: 'Method SpomkyLabs\PwaBundle\Service\FaviconsCompiler::getFaviconAsset() should return string but returns string|false.'
			identifier: return.type
			count: 2
			path: ../src/Service/FaviconsCompiler.php

		-
			rawMessage: 'Parameter #1 $assertion of function assert expects bool|string, Symfony\Component\AssetMapper\MappedAsset|null given.'
			identifier: argument.type
			count: 1
			path: ../src/Service/FaviconsCompiler.php

		-
			rawMessage: 'Parameter #2 $attributes of method Symfony\UX\Icons\IconRendererInterface::renderIcon() expects array<string, bool|string>, array<string, mixed> given.'
			identifier: argument.type
			count: 1
			path: ../src/Service/FaviconsCompiler.php

		-
			rawMessage: 'Strict comparison using !== between SpomkyLabs\PwaBundle\Dto\Asset and null will always evaluate to true.'
			identifier: notIdentical.alwaysTrue
			count: 2
			path: ../src/Service/FaviconsCompiler.php

		-
			rawMessage: 'Call to function assert() with true and string will always evaluate to true.'
			identifier: function.alreadyNarrowedType
			count: 1
			path: ../src/Service/IconResolver.php

		-
			rawMessage: Instanceof between Symfony\Component\AssetMapper\MappedAsset and Symfony\Component\AssetMapper\MappedAsset will always evaluate to true.
			identifier: instanceof.alwaysTrue
			count: 1
			path: ../src/Service/IconResolver.php

		-
			rawMessage: 'Parameter #1 $assertion of function assert expects bool|string, Symfony\Component\AssetMapper\MappedAsset|null given.'
			identifier: argument.type
			count: 1
			path: ../src/Service/IconResolver.php

		-
			rawMessage: 'Parameter #1 $image of method SpomkyLabs\PwaBundle\ImageProcessor\ImageProcessorInterface::process() expects string, string|false given.'
			identifier: argument.type
			count: 1
			path: ../src/Service/IconResolver.php

		-
			rawMessage: 'Parameter #2 $attributes of method Symfony\UX\Icons\IconRendererInterface::renderIcon() expects array<string, bool|string>, array<string, mixed> given.'
			identifier: argument.type
			count: 1
			path: ../src/Service/IconResolver.php

		-
			rawMessage: 'Parameter #2 $data of function hash expects string, string|false given.'
			identifier: argument.type
			count: 1
			path: ../src/Service/IconResolver.php

		-
			rawMessage: 'Parameter #3 $headers of class SpomkyLabs\PwaBundle\Service\Data constructor expects array<string, bool|string>, array<string, string|true|null> given.'
			identifier: argument.type
			count: 2
			path: ../src/Service/IconResolver.php

		-
			rawMessage: 'Parameter #5 $content of class Symfony\Component\AssetMapper\MappedAsset constructor expects string|null, string|false given.'
			identifier: argument.type
			count: 1
			path: ../src/Service/IconResolver.php

		-
			rawMessage: 'Cannot call method process() on SpomkyLabs\PwaBundle\ImageProcessor\ImageProcessorInterface|null.'
			identifier: method.nonObject
			count: 1
			path: ../src/Service/ScreenshotGenerator.php

		-
			rawMessage: Cannot cast mixed to string.
			identifier: cast.string
			count: 1
			path: ../src/Service/ScreenshotGenerator.php

		-
			rawMessage: 'Method SpomkyLabs\PwaBundle\Service\ScreenshotGenerator::getAvailablePort() should return int but returns mixed.'
			identifier: return.type
			count: 1
			path: ../src/Service/ScreenshotGenerator.php

		-
			rawMessage: 'Method SpomkyLabs\PwaBundle\Service\ScreenshotGenerator::getDefaultArguments() return type has no value type specified in iterable type array.'
			identifier: missingType.iterableValue
			count: 1
			path: ../src/Service/ScreenshotGenerator.php

		-
			rawMessage: 'Only booleans are allowed in &&, mixed given on the right side.'
			identifier: booleanAnd.rightNotBoolean
			count: 1
			path: ../src/Service/ScreenshotGenerator.php

		-
			rawMessage: 'Only booleans are allowed in a negated boolean, mixed given.'
			identifier: booleanNot.exprNotBoolean
			count: 1
			path: ../src/Service/ScreenshotGenerator.php

		-
			rawMessage: 'Only booleans are allowed in an if condition, mixed given.'
			identifier: if.condNotBoolean
			count: 2
			path: ../src/Service/ScreenshotGenerator.php

		-
			rawMessage: 'Parameter #1 $chromeDriverBinary of static method Symfony\Component\Panther\Client::createChromeClient() expects string|null, mixed given.'
			identifier: argument.type
			count: 1
			path: ../src/Service/ScreenshotGenerator.php

		-
			rawMessage: 'Parameter #1 $width of static method SpomkyLabs\PwaBundle\ImageProcessor\Configuration::create() expects int<1, max>, int given.'
			identifier: argument.type
			count: 1
			path: ../src/Service/ScreenshotGenerator.php

		-
			rawMessage: 'Parameter #2 $arguments of static method Symfony\Component\Panther\Client::createChromeClient() expects array<string>|null, array given.'
			identifier: argument.type
			count: 1
			path: ../src/Service/ScreenshotGenerator.php

		-
			rawMessage: 'Parameter #2 $height of static method SpomkyLabs\PwaBundle\ImageProcessor\Configuration::create() expects int<1, max>, int given.'
			identifier: argument.type
			count: 1
			path: ../src/Service/ScreenshotGenerator.php

		-
			rawMessage: 'Method SpomkyLabs\PwaBundle\Service\ScreenshotUrlGenerator::generateUrl() should return string but returns string|null.'
			identifier: return.type
			count: 1
			path: ../src/Service/ScreenshotUrlGenerator.php

		-
			rawMessage: 'Parameter #1 $name of method Symfony\Component\Routing\Generator\UrlGeneratorInterface::generate() expects string, string|null given.'
			identifier: argument.type
			count: 1
			path: ../src/Service/ScreenshotUrlGenerator.php

		-
			rawMessage: 'Parameter #1 $config (array<string, mixed>) of method SpomkyLabs\PwaBundle\SpomkyLabsPwaBundle::loadExtension() should be contravariant with parameter $config (array) of method Symfony\Component\DependencyInjection\Extension\ConfigurableExtensionInterface::loadExtension()'
			identifier: method.childParameterType
			count: 1
			path: ../src/SpomkyLabsPwaBundle.php

		-
			rawMessage: 'Parameter #1 $config (array<string, mixed>) of method SpomkyLabs\PwaBundle\SpomkyLabsPwaBundle::loadExtension() should be contravariant with parameter $config (array) of method Symfony\Component\HttpKernel\Bundle\AbstractBundle::loadExtension()'
			identifier: method.childParameterType
			count: 1
			path: ../src/SpomkyLabsPwaBundle.php
